.App {
  text-align: center;
  position: relative;
  margin: 2rem; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.school-table {
  max-width: 800px;
  margin: 0 auto; }

.school-url {
  text-decoration: none; }

.school-checkbox {
  margin-top: -5px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer; }

.school-detail {
  padding: 20px;
  text-align: left; }
  .school-detail div:not(:last-child) {
    margin-bottom: 10px; }
  .school-detail .school-programs {
    margin-top: 20px; }
    .school-detail .school-programs ul li {
      list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
