.school-table {
  max-width: 800px;
  margin: 0 auto;
}

.school-url {
  text-decoration: none;

}

.school-checkbox {
  margin-top: -5px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.school-detail {
  padding: 20px;
  text-align: left;
  div:not(:last-child) {
    margin-bottom: 10px;
  }
  .school-programs {
    margin-top: 20px;
    ul li {
      list-style: none;
    }
  }
}
